# Created by .ignore support plugin (hsz.mobi)
### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
CMakeLists.txt.user
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.idea/
.vscode/
.vs/
build/
cmake-build-debug/
node_modules/
generators/
*.user
*.user.*
dist/*
*.out.pdf
lib/*.js
*.log
