# Created by .ignore support plugin (hsz.mobi)
### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
CMakeLists.txt.user
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_book/
.idea/
.vscode/
lib/binding/
.vs/
.directory
.node-version
build*
cmake-build-debug/
CMakeSettings.json
node_modules/
generators/
*.user
*.user.*
dist/*
*.out.pdf
lib/*.js
lib/*.map
lib/*.d.ts
spec/bench/*.d.ts
spec/bench/*.js
spec/bench/*.map
spec/unit/*.d.ts
spec/unit/*.js
spec/unit/*.map
spec/unit-old/*.d.ts
spec/unit-old/*.js
spec/unit-old/*.map
spec/tmp/*.pdf
*.log
.coveralls.yml
.nyc_output
coverage
*tmp.*
*temp*
.fuse*
releases/
